@import url(theme.css);
@import url(markdown-tokens.css);


html,
body {
	font-family: "Roboto", "Open Sans", "Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	font-size: 16px;
}

body {
	display: grid;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	box-sizing: border-box;
	color: var(--midoc-on-background, white);
	background-color: var(--midoc-background, transparent);
	--scrollbar-width: 4px;
	--scrollbar-height: 4px;
}

*::-webkit-scrollbar {
	width: var(--scrollbar-width, 0.6rem);
	height: var(--scrollbar-height, 0.6rem);
}

*::-webkit-scrollbar-track {
	background: var(--scrollbar-track, inherit);
}

*::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-bg, hsl(0, 0%, 30%));
	border-radius: var(--scrollbar-thumb-border-radius, 2px);
	background-clip: padding-box;
}

*::-webkit-scrollbar-corner {
	background: var(--scrollbar-corner, var(--scrollbar-track, inherit));
}

/* setup for a checkers background */
/*body {
	--checkers-line-color: rgb(50, 50, 50);
	--checkers-line-size: 30px;
	--checkers-overlay-color-from: rgb(25, 25, 25);
	--checkers-overlay-color-to: rgb(25, 25, 25);

	background:
		repeating-linear-gradient(to right, transparent,
			transparent 25px,
			var(--checkers-line-color) 25px,
			var(--checkers-line-color) var(--checkers-line-size)),
		repeating-linear-gradient(to bottom, transparent,
			transparent 25px,
			var(--checkers-line-color) 25px,
			var(--checkers-line-color) var(--checkers-line-size)),
		linear-gradient(45deg, var(--checkers-overlay-color-from), var(--checkers-overlay-color-to));
}*/